.box_overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffff99;
	border-radius: 6px;
	max-width: 600px;
	z-index: 1000;
	opacity: 0;
	padding: 0;
	height: 0;
	width: 100%;
	transition: height 0.8s,opacity 0.5s,left 0.5s,top 0.5s;
}
.box_overlay.visible {
	opacity: 0.9;
	height: auto;
	padding: 10px;
}
.box_overlay.visible:hover {
	opacity: 1;
}
.box_overlay.visible::selection {
	background: #ffb7b7;
}
.box_overlay .meaning_content {
	color: black;
	width: auto;
	/*text-align: center;*/
	font-size: 14px;
}
.box_overlay .meaning_content pre {
	overflow: hidden;
	white-space: pre-wrap;
}
.box_overlay .more_button {
	display: block;
	position: relative;
	background: rgba(52, 96, 75, 0.89);
	float: right;
}
.box_overlay .more_button a {
	height: 20px;
	width: 20px;
	display: block;
}