.selection_bubble {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffff99;
	color: black;
	text-align: center;
	border-radius: 6px;
	font-size: 14px;
	max-width: 300px;
	z-index: 100;
	padding: 10px;
}